<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.car.mapper.CommentMapper">

    <resultMap id="Comment" type="comment">
        <id column="comment_id" property="commentId"/>
        <result column="comment_article" property="commentArticle"/>
        <result column="comment_time" property="commentTime"/>
        <association property="user" javaType="user">
            <id column="user_id" property="userId"/>
            <result column="username" property="username"/>
            <result column="password" property="password"/>
            <result column="user_name" property="userName"/>
            <result column="user_gender" property="userGender"/>
            <result column="user_age" property="userAge"/>
            <result column="user_telephone" property="userTelephone"/>
            <result column="user_number" property="userNumber"/>
            <result column="user_time" property="userTime"/>
            <result column="user_state" property="userState"/>
            <result column="user_role" property="userRole"/>
        </association>
        <association property="teacher" javaType="teacher">
            <id column="teacher_id" property="teacherId"/>
            <result column="teacher_name" property="teacherName"/>
            <result column="teacher_age" property="teacherAge"/>
            <result column="teacher_telephone" property="teacherTelephone"/>
            <result column="teacher_photo" property="teacherPhoto"/>
        </association>
    </resultMap>

    <insert id="addComment" parameterType="comment">
        insert into comment values (
        #{commentId},#{commentArticle},#{user.userId},
        #{teacher.teacherId},#{commentTime}
        )
    </insert>

    <select id="getCommentList" parameterType="page" resultMap="Comment">
        select * from comment
        inner join teacher on comment_teacher = teacher_id
        inner join user on comment_user = user_id
        <where>
            <if test="params.teacherId != null and params.teacherId != ''">
                and comment_teacher=#{params.teacherId}
            </if>
            <if test="params.commentArticle != null and params.commentArticle != ''">
                and comment_article like '%${params.commentArticle}%'
            </if>
            <if test="params.teacherName != null and params.teacherName != ''">
                and teacher_name like '%${params.teacherName}%'
            </if>
            <if test="params.userName != null and params.userName != ''">
                and user_name like '%${params.userName}%'
            </if>
        </where>
        limit #{index}, #{currentCount}
    </select>

    <select id="getCommentCount" parameterType="page" resultType="Integer">
        select count(*) from comment
        inner join teacher on comment_teacher = teacher_id
        inner join user on comment_user = user_id
        <where>
            <if test="params.teacherId != null and params.teacherId != ''">
                and comment_teacher=#{params.teacherId}
            </if>
            <if test="params.commentArticle != null and params.commentArticle != ''">
                and comment_article like '%${params.commentArticle}%'
            </if>
            <if test="params.teacherName != null and params.teacherName != ''">
                and teacher_name like '%${params.teacherName}%'
            </if>
            <if test="params.userName != null and params.userName != ''">
                and user_name like '%${params.userName}%'
            </if>
        </where>
    </select>

    <delete id="deleteCommentById">
        delete from comment where comment_id = #{value}
    </delete>

    <select id="getById" resultMap="Comment">
        select * from comment where comment_id = #{value}
    </select>

    <update id="updateCommentArticle" parameterType="comment">
        update comment set
        comment_article = #{commentArticle}
        where comment_id = #{commentId}
    </update>

</mapper>
